table th:hover {
    background-color: #ddd;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:nth-child(odd) td {
    background-color: #fff;
}